.hideShow {
  display: none;  
  /*margin-left: 5px;*/
}
.delColumn {
  width: 135px !important;
}

.labelCount {
  position: absolute;
  top: 9px;
  right: 7px;
  text-align: center;
  font-size: 11px;
  padding: 2px 3px;
  line-height: .9;
  border-radius: 10px;
}
.showButtons {
  display: inline-block;
  margin-left: 5px;
}
.checkboxColumn {
  width: 50px;
}
.buttonsCss {
  display: inline-flex !important;
  border: none !important;
}
#searchBar {
  border: 1px solid #f4f4f4;
  padding: 5px;
  /* margin-bottom: 10px; */
  background: #f7f7f7;
}
#myInput {
  border-radius:5px !important;
  width: 30%;
  float: right;
  background: #f7f7f7;
  margin: 5px 5px 15px;
}
#submit {
  margin-bottom: 15px;
}
#actionCss {
  margin-top: 100%;
}
.bg-custom {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1a2226), color-stop(1, #222d32)) !important;
  color: #b8c7ce;
}
#btnAddons {
  border: 5px solid #1a2226;
  padding: 2px !important;
  background-color: #2c3a40 !important;
}
#firstBtn {
  margin-left: 16%;
}
.bg-dispatch {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3c8dbc), color-stop(1, #67a8ce)) !important;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  color: white;
}
.bg-dispatch button {
  color: #333;
}
.bg-dispatch span {
  display: block;
}

.buttonDispatch {
  font-size: 8px !important;
}